[project]
	description = A python client for DCI
[access "refs/*"]
  read = group python-dciclient-core
  owner = group python-dciclient-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group python-dciclient-core
	label-Verified = -2..+2 group python-dciclient-ptl
	label-Workflow = -1..+1 group python-dciclient-core
	submit = group python-dciclient-ptl
	read = group Registered Users
    read = group python-dciclient-core
	pushTag = group python-dciclient-core
	pushTag = group python-dciclient-ptl
	pushSignedTag = group python-dciclient-core
	pushSignedTag = group python-dciclient-ptl
[access "refs/meta/config"]
    read = group Registered Users
    read = group python-dciclient-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
