PrettyTable>=0.7.2, <0.8
six>=1.9, <2.0
requests>=2.7.0, <3.0
PyYAML>=3.0, <4.0
click==6.3 # EL7 version
setuptools
-e git+https://github.com/redhat-openstack/python-tripleo-helper.git#egg=python-tripleo-helper
