[Unit]
Description=The DCI dci agent

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/dci-agent-dci
ExecStart=dci-agent-dci $REMOTE_ID $TEAM_ID $ENVIRONMENT
