[Unit]
Description=The DCI tox agent

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/dci-agent-tox
ExecStart=dci-agent-tox $REMOTE_ID $TEAM_ID
