[Unit]
Description=The DCI github feeder

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/dci-feeder-github/%i
ExecStart=/usr/bin/dci-feeder-github $DCI_TOPIC_ID https://github.com/%I
