[Unit]
Description=The DCI github feeder

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/dci-feeder-github/%i
ExecStart=/usr/bin/dci-feeder-github --dci-topic-id $DCI_TOPIC_ID --github-url https://github.com/%I
